body{
  background: lightblue;  
  font-family: Arial, Helvetica, sans-serif;
}

.container{
  width: 80%;
  padding: 50px;
  margin:  0 auto;
  background: lightgray;
}

.btn-group{
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.success{
  padding: 10px 50px;
  color: white;
  background: rgb(31, 189, 31);
  border: none;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 5px;
}


.danger{
  padding: 10px 50px;
  color: white;
  cursor: pointer;
  background: red;
  border: none;
  margin: 0 10px;
  border-radius: 5px;
}


.secondary{
  padding: 10px 50px;
  color: white;
  cursor: pointer;
  background: rgb(17, 135, 182);
  border: none;
  margin: 0 10px;
  border-radius: 5px;
}
